.notes-container{
    background-color: red;
    
}
.note{
    height: 200px;
    margin: 20px;
}
textarea{
border-radius: 10px;
height: 200px;
padding: 10px;
}
.add-button{
    margin-left: 20px;
    width: 100px;
    font-size: medium;
}