* {
  height: 100vh;
}
.main {
  background-image: url("/src/images/weather.jpg");
  background-size: cover;
}

.container {
  gap: 40px;
}

.card {
  padding: 10px;
  border: 3px solid black;
  height: 200px;
  width: 350px;
  border-radius: 10px;
  background-color: rgb(224, 222, 222);
  font-size: larger;

}

.current {
  background-color: rgb(224, 222, 222);
  border: 3px solid black;
  height: 100px;
  width: 400px;
  border-radius: 10px;
  justify-content: space-between;
}
.details{
  
  padding: 10px;
}
.space{
  justify-content: space-between;
}