*{  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.center{
    justify-content: center;
    align-items: center;
}
.button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(224, 222, 222);
    opacity: 50%;
    font-size: larger;
    color: black;
  }
  .buttons {

    height: 70px;
    gap: 500px;
    width: 100%;
  }